BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
